* {
    all: unset;
    border: none;
    border-radius: 0;
    font-family: "PragmataPro Liga Regular";
    font-weight: 700;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    color: #222222;
    padding: 6px;
    background: #767981;
    border-radius: 4px;
    margin-left: 4px;
}

#workspaces button.active {
    background: #cfd0d3;
    color: #1d2021;
}

#clock {
	color: #222222;
	padding: 5px 5px;
        background: #767981;
	border-radius: 4px;
}

#battery {
	color: #222222;
	padding: 5px 5px;
        background: #767981;
	border-radius: 4px;
}

#custom-date {
	color: #222222;
	padding: 5px 5px;
        background: #767981;
	border-radius: 4px;
}

