* {
    all: unset;
    border: none;
    border-radius: 0;
    font-family: "PragmataPro Mono Liga";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background-color: transparent;
}

#workspaces button {
    color: #222222;
    padding: 6px;
    background: #b4bad4;
    border-radius: 4px;
    margin-left: 4px;
}

#workspaces button.focused {
    background: #ebdbb2;
    color: #1d2021;
    border-bottom: 1px solid #ebdbb2;
}

#clock {
	color: #222222;
	padding: 5 5px;
	background: #b4bad4;
	border-radius: 4px
}

#battery {
	color: #222222;
	padding: 5 5px;
	background: #b4bad4;
	border-radius: 4px
}

#custom-date {
	color: #222222;
	padding: 5 5px;
	background: #b4bad4;
	border-radius: 4px
}

