* {
    border: none;
    border-radius: 0;
    font-family: "SF Pro Display", "Symbols Nerd Font";
    font-size: 26px;
    color: rgba(0, 0, 0, 1);
    min-height: 39px;
    letter-spacing: 1px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: rgba(255, 255, 255, 0.35);
}

#clock {
        padding-right: 40px;
}

#custom-logo {
        padding-left: 40px;
}

#window {
        padding-left: 40px;
}

#workspaces {
        padding-left: 40px;
}
